/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom Styles */
/* Home */

body {
    line-height: 1.5;
}

header {
    background-color: darkblue;
    padding: 20px 0;
    text-align: center;
}

hr {
    width: 600px;
    border: 1px dotted gray;
    margin: 60px auto;
}

.nav-link {
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
}

.content {
    width: 1000px;
    /* background-color: yellow;  */
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.exercise {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

 .main-container {
    margin: 0 auto;
    border: 20px solid aqua;
    border-radius: 15px;
    display: inline-block;
} 
.sub-container {
    background-color: aqua;
    width: 200px;
    height: 200px;
    border: 15px solid blueviolet;
    outline: 10px solid black;
}

.wrapper {
    margin-top: 20px;
}

.circle {
    display: inline-block;
    margin: 0 10px;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.aqua {
    background-color: aqua;
}

.black {
    background-color: black;
}

.blueviolet {
    background-color: blueviolet;
}

.container {
    width: 660px;
    border: 2px solid black;
    font-size: 0;
    margin: 0 auto;
}

.box {
    width: 200px;
    height: 180px;
    margin: 10px;
    background-color: lightgray;
    display: inline-block;
}

.box4,.box5,.box6{
    border: 2px solid black;
    box-sizing: border-box;
}


/* Blog */

.section {
    margin: 50px auto;
    font-size: 18px;
    width: 900px;
    /* background-color: greenyellow;  */
}


.title {
    font-size: 22px;
    color: darkblue;
}


.article {
    display: inline-block;
    width: 400px;
    
}
img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.article1 {
    /* background-color: green; */
    margin-right: 20px;
    height: 300px;
}
.article2 {
    height: 300px;
    vertical-align: top;
}


.second-row {
    margin-top: 30px;
}
.article3 {
    vertical-align: top;
    margin-right: 20px;
}

.article2 a {
    display: inline-block;
    background-color: green;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    margin-top: 15px;
    border-radius: 15px;
}

.link {
    color: green;
}